<html>
  <head></head>
  <body>
    <p>
      The SECRET NUMBER is <%= number %>

    </p>

    <p>
    	<form>
            <input type='text' name='guess' />
            <input type='submit' value='Guess!' />
       </form>
    <p> Your Guess is <%= message%>
  </body>
</html>
