<html>
<style>
   body
   {
    text-align: center;
    background-color: #000000;
    color:#C0C0C0;
    font-size: 50;
   }
</style>
  <head></head>
  <body>
    <p>
      The secret number is between the age ofbirth and the age of death of the average somker. Take a guess
    </p>

    <p>
     <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
      </form>
      <% if message=="Too high babydoll" %>
      <img src="http://cdn.pbh2.com/wordpress/wp-content/uploads/2013/02/sports-fails-gifs-bike-ramp.gif">
      Too High!!!!
      <% elsif message=="Too low babydoll" %>
      <img src="http://www.fertilitypickle.com/wp-content/uploads/2013/04/20130401dikembemutombo.gif">
      NO NO NO Too low
      <% elsif message=="Right on the money baby" %>
      <img src="http://media.tumblr.com/tumblr_mcaqlluY6X1qzr8l8.gif">
      <% else %>
      <% end %>
        
    <p> 
  </body>
</html>