<html>
<style>
   body
   {
    text-align: center;
    background-color: #000000;
    color:#C0C0C0;
    font-size: 50;
   }
</style>
  <head></head>
  <body>
    <p>
      <%= question %>(Remember all answers are ONE word, and singular)
      <p>
      Your Score: <%= score %>
    </p>
    </p>

    <p>
      <form>
          <input type="text" name="guess">
          <input type="submit" value="Guess!"> 
      </form>
    </p> 
  </body>
</html>